.cabecalho {
  height: 8vh;
  border: 0.2vh solid rgb(255, 255, 255);

    margin: .2% 0.2% 0.2% 0.2%;
    background: url(../img/Untitled.svg);
   background-repeat: no-repeat;
   background-size: contain, cover;
   background-position: center;
   background-color: rgb(1, 58, 81);
   height: 50px;
    
    
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

  padding-top: 10%;
  padding-left: 0.2%;
  
}


