.rodape {
  height: 5vh;
  border: 0.2vh solid darkmagenta;

  margin: 0.2% 0.2% 0.2% 0.2%;
  background-color: rgb(222, 228, 228);

  font-size: 12px;

  padding-top: 0.9%;
  padding-left: 2%;

  box-shadow: 0.1% 0.1% #87a9b3;

  color: rgb(26, 11, 157);

  text-align: center;
}

